@tailwind base;
@tailwind components;
@tailwind utilities;

/* This ensures the body takes up the full screen height and centers content */
#root {
  width: 100%;
  margin: 0;
  display: block;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}